:root {
    --base-font-size: 14px;
    --theme-color   : purple;


    /* Links */
    --link-color: rgba(0, 0, 0, 1);
    --link-color--hover: rgba(189, 144, 233, 0.865);

    /* Nav Links */
    --sidebar-nav-strong-padding: 0.25em 0.25em;
    --sidebar-nav-link-color--hover: rgba(97, 194, 157, 0.865);
    --sidebar-nav-link-padding: 0.3em 0.1em;
  }


