:root {
    --base-font-size: 14px;
    --theme-color   : rgba(128, 21, 128, 0.899);


    /* Links */
    --link-color: rgba(0, 0, 0, 1);
    --link-color--hover: rgba(128, 21, 128, 0.899);

    /* Nav Links */
    --sidebar-nav-link-color--active: rgba(128, 21, 128, 0.899);
    --sidebar-nav-link-padding: 0.3em 0.3em;
    --sidebar-nav-link-margin: .5em .5em;
  }


