body {
    padding: 0px;
    font: 14px "Futura", "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

h2  {
    text-align: center;
}

p { 
    text-align: center;
    width: 800px;
    margin-right: auto;
    margin-left: auto; 
    padding: 20px;
}

a {
    color: #00B7FF;
}

footer {
    text-align: center;
}

.graphic {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#map-padding {
    padding: 0px 50px 0px 50px;
}

#paragraph-text {
    color: rgb(232, 62, 76);
}